body {
    background-color: gray;
    background-image: url(../Pictures/andrew-neel-jtsW--Z6bFw-unsplash.jpg);
    background-size: cover;

}

.all {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.players {
    display: flex;
    flex-direction: row;
    gap: 25%;
    margin-bottom: 20px;
    justify-content: space-around;
    font-style: italic;
    font-size: x-large;
    color: white;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    padding: 50px;
    color: white;
}

button {
    background-color: rgb(232, 143, 9);
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: large;
}

.comp {
    color: greenyellow;
}

.player {
    color: green;
}

.final {
    color: white;
    font-size: xx-large;
    padding-top: 10px;
    text-align: center;
    font-weight: bolder;
    color: red;
}